- name: Deploy SNMP Configuration
  hosts: all
  gather_facts: no

  vars:
    snmp_community: SECURE_SNMP
    site: "{{ group_names[0] }}"

  tasks:
    - name: Cisco | Configure SNMP
      when: "'cisco' in group_names"
      connection: network_cli
      become: yes
      become_method: enable
      cisco.ios.ios_config:
        lines:
          - "snmp-server community {{ snmp_community }} RO"
          - "snmp-server location {{ site }}"
          - "snmp-server contact noc@company.local"

    - name: MikroTik | Configure SNMP
      when: "'mikrotik' in group_names"
      community.routeros.command:
        commands:
          - /snmp set enabled=yes contact="noc@company.local" location="{{ site }}"
          - /snmp community set [find default=yes] name="{{ snmp_community }}"
